body {
  text-align: center;
  background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  background-image: url('background.jpg');
  background-size: 100;
  background-position: fixed;
  
}

h1 {
  font-weight: 30px;
  color: black;
}
